body{
  background-image: url("journal.jpg")
}

.title{
  font-style: oblique;
  text-align: center;
  color:#774C15;
  font-size: 100px;
  padding-bottom: 90px;
  margin-top: -70px;


}

.jumbotron-fluid{
  border-style: solid;
  border-color:#774C15;
  background-image: url("thoughts.png")


}

.control-label {
  font-size: 20px;
}

.upload{
  margin-left: 470px;

}

.journaltitle ,.journalentry{
  padding-top: 30px;
  font-size: 30px;
  font-weight: bold;
  color:#ECBF60;


}

/* .date{
  font-size: 30px;
  font-weight: bold;
  color:#ECBF60;
  border: black;
} */
.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form {
  font-family: Arial, Helvetica, sans-serif;
  color: black
}

.bootstrap-iso form button,
.bootstrap-iso form button:hover {
  color: white !important;
}

.asteriskField {
  color: red;
}

.colorbutton{
  background-color: #ECBF60;
  border-width: thick;
  border-color: black;
}

.colorbutton1{
  background-color: #ECBF60;
  border-width: thick;
  border-color: black;
  padding: 6px 18px;


}
