#typethis {

   font-family: Cursive;
  
  font-size: 50px;
  font-weight: bold;
  color:purple;
	}
body{
  background-image: url("journal.jpg");
	}

.card-header {

	font-family: Cursive;
	font-weight: bold;
	color:purple;
	}

.jumbotron-fluid{
	background-color: pink;

	}