<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>Private Escape</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </script>
  <link rel="stylesheet" href="./css/private.css">
  <!-- datepicker -->
  <!--  jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
  <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
  <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

</head>

<body>
  <container>
    <div class="container">
          <div class="jumbotron jumbotron-fluid">

            <h1 class="title">Private Escape</h1>
            <button id="logout" type="button" class="btn btn-primary" >
              Logout
            </button>
            <button id="home" type="button" class="btn btn-primary" >
              Public Page
            </button>

          </div>

        </div>


    <div class="row">
      <div class="col-md-8 offset-1">

        <div class="form">
          <form id="private">
            <div class="form-group">
              <label for="exampleFormControlInput1" class="journaltitle">Title</label>
              <input type="" class="form-control" id="jtitle" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1" class="journalentry">Journal Entry</label>
              <textarea class="form-control" id="jentry" rows="3"></textarea>
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1" class="journalentry">Links to Images</label>
              <textarea class="form-control" id="jlink" rows="3"></textarea>
            </div>
          </form>
        </div>
      </div>
    </div>




      <div class="form-group pp">
        <label for="sleepy">Post to private or Post to Public?</label><br>
        <input type="radio" name="Post" value= 0 /> Private Post!<br/>
        <input type="radio" name="Post" value= 1 /> Public <br/>
      </div>


    <button type="button" class="btn btn-info upload colorbutton1" data-toggle="modal" data-target="#uploadModal" id="jsubmit">Submit</button>
  </container>

        <div class="col-12 box">
          <div class="card mb-3">
          <h3 class="card-header 2" id="private-Jornalarea"></h3>

        </div>
        </div>


























  <script type>
  $(document).ready(function() {
$(document).on("click", "button.delete", handlePostDelete);
  $(document).on("click", "button.edit", handlePostEdit);
    // Gets an optional query string from our url (i.e. ?post_id=23)
    var url = window.location.search;
    var postId;
    // Sets a flag for whether or not we're updating a post to be false initially
    var updating = false;
    var dataBackFromDb; // datacoming back from the db
    // JornalgContainer holds all of our posts
    var jornalContainer = $("#private-Jornalarea");
    if (url.indexOf("?post_id=") !== -1) {
      postId = url.split("=")[1];
      getPostData(postId);
    }
            var titleInput = $("#jtitle");
            var entryInput = $("#jentry");
            var linksInput = $("#jlink");
            var shareStatus=$('input[value]:checked').val()
    // Adding an event listener for when the form is submitted
    $("#jsubmit").click(function handleFormSubmit(event) {
      event.preventDefault();
      // console.log("hi");
      if (!titleInput.val().trim() || !entryInput.val().trim()) {
        return;
          }
          var   //===========================================
                 newPost = {
                  title: titleInput.val().trim(),
                  journal_entry: entryInput.val().trim(),
                  links_images: linksInput.val().trim(),
                  shareStatus:$('input[value]:checked').val()
                };
                console.log(newPost);
      // if (shareStatus == 0 || shareStatus == 1){
  // //===========================================
  //      newPost = {
  //       title: titleInput.val().trim(),
  //       journal_entry: entryInput.val().trim(),
  //       links_images: linksInput.val().trim(),
  //       shareStatus:$('input[value]:checked').val()
  //
  //     };
      // console.log("NewPost 1 : ")
      // console.log(newPost)
      // console.log(newPost); // I am setting newPost = newPost because newPost was set as a global vaiable on line 19.
      // after the onclick function is completed the value of the global var newPost will be the same..were updating the value
        // submitPost(newPost);
      //
      // } else{
      //   alert ("Please select either public or private before submiting");
      //
      // }
      if (url.indexOf("?post_id=") !== -1) {
            newPost.id = postId;
            updatePost(postId, newPost);
              console.log("Updating - A" ,updating)
          }
          else {
            submitPost(newPost);
              console.log("Updating - B " ,updating)
          }
          // console.log(newPost.shareStatus)
      // If we're updating a post run updatePost to update a post
      // Otherwise run submitPost to create a whole new post
    //   if (updating) {
    //     newPost.id = postId;
    //     updatePost(newPost);
    //   }
    //   else {
    //     submitPost(newPost);
    //   }
    });
///===================================================
    function submitPost(newPost) {
      $.post("/api/private", newPost, function() {
        // window.location.href = "/private";
        getPosts();
        alert("done")
      });
    }
///===============================================
    // getPosts();
    function getPosts(newPost) {
        $.get("/api/private", function(data) {
          dataBackFromDb = data;
          // console.log(dataBackFromDb)
          // var dataBackFromDb = data.length;
              // console.log(dataBackFromDb[0].title)
          // this is what is coming back from the database
       initalizeRow(dataBackFromDb);
      });
    }
    //
// create row function for every jornal that is created
function initalizeRow(dataBackFromDb){
var jornalsToAdd=[];
  for (var i = 0; i < dataBackFromDb.length; i++){
    jornalsToAdd.push(createNewRow(dataBackFromDb[i]));
  }
  jornalContainer.empty();
  jornalContainer.append(jornalsToAdd);
}
// are the buttons created using data that is being send or with data that is coming back from the db
// customize row with dlt and edit button
function createNewRow(dataBackFromDb){
// console.log(newPost)
// console.log("Data back from db")
console.log(dataBackFromDb)
var row = $("<div>");
row.addClass("myjentry");
row.append("<p> Titile :" + dataBackFromDb.title + "</p>");
row.append("<p> "+ dataBackFromDb.journal_entry + "</p>");
row.append("<p> "+ dataBackFromDb.links_images + "</p>");
var deleteBtn = $("<button>");
deleteBtn.text("x");
deleteBtn.addClass("delete btn btn-danger");
deleteBtn.attr("entryID", dataBackFromDb.id);
// console.log('deleteBtn with ID', deleteBtn)
var editBtn = $("<button>");
editBtn.text("EDIT");
editBtn.addClass("edit btn btn-default");
editBtn.attr("entryID", dataBackFromDb.id);
// console.log('Edit with ID', editBtn)
  row.append(deleteBtn);
  row.append(editBtn);
  // row.data("dataBackFromDb", dataBackFromDb);
  jornalContainer.append(row);
  return row;
}
//---------------------------------------------------------
///--------------????? what goes in the ()
function handlePostDelete() {
// console.log(escapeposts)
// console.log("DELETE button is clicked")
var currentId = $(this).attr("entryID");
// console.log("currentId", currentId)
// console.log("CURRENT POST IS BELOW")
// console.log(currentId)
deletePost(currentId);
}
// This function does an API call to delete posts
///--------------????? what goes in the ()
function deletePost(id) {
// console.log(id)
$.ajax({
  method: "DELETE",
  url:"api/private/" + id
})
  .then(function() {
    getPosts()// show me posts after deleting
    // console.log("sending info to Db to delet this item and show updated page")
  });
}
//-----------------------------------------------------
// This function figures out which post we want to edit and takes it to the
// // Appropriate url
// do a check here -- does Id excist
function handlePostEdit() {
var currentId = $(this).attr("entryID")
// console.log(currentId)
  // .parent()
  // .parent()
  // .data("post");
window.location.href = "/dashboard?post_id=" + currentId;
  updatePost(currentId, newPost);
}
// console.log(currentId)
// Update a given post, bring user to the blog page when done
function updatePost(id ,newPost ) {
// console.log(id)
  // console.log("Updating - updatePost" updating)
$.ajax({
 //should this be re.param?
    method: "PUT",
    url: "/api/private",
    data: newPost
})
  .then(function() {
    window.location.href = "/dashboard" ;
  });
}
// Gets post data for a post if we're editing
function getPostData(id) {
$.get("/api/private/" + id, function(data) {
  if (data) {
    console.log(data)
    // If this post exists, prefill our cms forms with its data
    titleInput.val(data.titleInput);
    entryInput.val(data.entryInput);
    linksInput.val(data.linksInput);
    // shareStatus.val(data.shareStatus);
    // If we have a post with this id, set a flag for us to know to update the post
    // when we hit submit
    updating = true;
    console.log("Updating - getPost Data" ,updating)
  }
});
}
      //
      // var titleInput = $("#jtitle");
      // var entryInput = $("#jentry");
      // var linksInput = $("#jlink");
      // var shareStatus=$('input[value]:checked').val()
  });

  $("#logout").on("click", function() {
     $.get("/login", function(data){
       window.location.href = "/login";
       console.log('hh1')
     })
});
$("#home").on("click", function() {
 $.get("/signout", function(data){
   window.location.href = "/signout";
   console.log('hh1')
 })
});
  </script>
</body>

</html>
