<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>Private Escape</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </script>
  <link rel="stylesheet" href="./css/private.css">
  <!-- datepicker -->
  <!--  jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
  <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
  <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

</head>

<body>
  <container>
    <div class="container">
      <div class="jumbotron jumbotron-fluid">

        <h1 class="title">Private Escape</h1>
        <button id="logout" type="button" class="btn btn-primary" >
          Logout
        </button>
        <button id="home" type="button" class="btn btn-primary" >
          Public Page
        </button>

      </div>

    </div>


    <div class="row">
      <div class="col-md-8 offset-1">

        <div class="form">
          <form id="private">
            <div class="form-group">
              <label for="exampleFormControlInput1" class="journaltitle">Title:</label>
              <input type="" class="form-control" id="jtitle" placeholder="">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1" class="journalentry">Journal Entry:</label>
              <textarea class="form-control" id="jentry" rows="3"></textarea>
            </div>

            <div class="form-group">
              <label for="exampleFormControlTextarea1" class="journalentry">Links to Images:</label>
              <textarea class="form-control" id="jlink" rows="3"></textarea>
            </div>
            <div class="form-group" >
              <label for="sleepy" class="privpub">Make Post Private or Public?</label><br>
              <input type="radio"class="privpub" name="Post" value= 0 /> Private Post<br/>
              <input type="radio" class="privpub" name="Post" value= 1 /> Public <br/>
            </div>
            <div>
              <br />
            </div>
            <div>
              <button type="button" class="btn btn-info upload colorbutton1" data-toggle="modal" data-target="#uploadModal" onclick="handleFormSubmit();" id="jsubmit">Submit</button>
              <div>
                <br />
              </div>
            </div>
            <div class="col-12 box">
              <div class="card mb-3">
              <h3 class="card-header 2" id="private-Jornalarea"></h3>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
      </div>

    </div>








</container>






  <!-- <script type="text/javascript" src="/js/private.js"></script> -->
<script>

$(document).ready(function() {

  $("#logout").on("click", function() {
       $.get("/login", function(data){
         window.location.href = "/login";
         console.log('hh1')
       })
 });
 $("#home").on("click", function() {
   $.get("/signout", function(data){
     window.location.href = "/signout";
     console.log('hh1')
   })
});

  var blobs;
var text;
var reader = new FileReader();
var url = window.location.search;
var postId;
var updating = false;

$('#done-button').on('click', function () {
  var file = $('#myFile').src = window.URL.createObjectURL(curFiles[i])
  var fileReader = new FileReader();
    var fileType = $('#file-type').val();
    blobUtil.imgSrcToBlob(fileType).then(function (blob) {

    }).catch(function (err) {
      // error
    });
  });
});

$("#jsubmit").click(function handleFormSubmit(event) {
  // await fun1

  var titleInput = $("#jtitle");
  var entryInput = $("#jentry");
  var linksInput = $("#jlink");
  var shareStatus=$('input[value]:checked').val();


  if (shareStatus == 0 || shareStatus == 1){

  var newPost = {
    title: titleInput.val().trim(),
    journal_entry: entryInput.val().trim(),
    links_images: linksInput.val().trim(),
    shareStatus:$('input[value]:checked').val()
  };

  //
  console.log(newPost);
    submitPost(newPost);

  } else{
    alert ("Please select either public or private before submiting");

  submitPost(newPost);
  }

});

function submitPost(newPost) {
$.post("/api/private", newPost, function() {
  // window.location.href = "/private";

  var row = $("<div>");
    row.addClass("myjentry");
    row.append("<p> Titile :" + newPost.title + "</p>");
  var deleteBtn = $("<button>");
  deleteBtn.text("x");
  deleteBtn.addClass("delete btn btn-danger");
  var editBtn = $("<button>");
  editBtn.text("EDIT");
  editBtn.addClass("edit btn btn-default");
    row.append(deleteBtn);
    row.append(editBtn);
    $("#private-Jornalarea").prepend(row);
  alert("done")
});
};
        getPosts();
  $(document).on("click", "button.delete", handlePostDelete);
  $(document).on("click", "button.edit", handlePostEdit);

  var url = window.location.search;
  var postId;

  var updating = false;

  var jornalContainer = $("#private-Jornalarea");

  if (url.indexOf("?post_id=") !== -1) {
    postId = url.split("=")[1];
    getPostData(postId);
  }



  var titleInput = $("#jtitle");
  var entryInput = $("#jentry");
  var linksInput = $("#jlink");
  var shareStatus = $('input[value]:checked').val()


  $("#jsubmit").click(function handleFormSubmit(event) {
    event.preventDefault();

    if (!titleInput.val().trim() || !entryInput.val().trim()) {
      return;
    }

    var //===========================================
      newPost = {
        title: titleInput.val().trim(),
        journal_entry: entryInput.val().trim(),
        links_images: linksInput.val().trim(),
        shareStatus: $('input[value]:checked').val()

      };



  });
  ///===================================================


  function submitPost(newPost) {
    $.post("/api/private", newPost, function() {
      // window.location.href = "/private";
      window.location.reload()

      alert("done")
    });
  }




  ///===============================================
  // getPosts();

  function getPosts(newPost) {
    $.get("/api/private", function(data) {
      dataBackFromDb = data;


      initalizeRow(dataBackFromDb);

    });
  }

  //

  // create row function for every jornal that is created
  function initalizeRow(dataBackFromDb) {



    var jornalsToAdd = [];
    for (var i = 0; i < dataBackFromDb.length; i++) {
      jornalsToAdd.push(createNewRow(dataBackFromDb[i]));

    }
    jornalContainer.empty();
    jornalContainer.append(jornalsToAdd);
  }


  function createNewRow(dataBackFromDb) {

    console.log(dataBackFromDb)
    var row = $("<div>");
    row.addClass("myjentry");
    row.append("<p> Title: " + dataBackFromDb.title + "</p>");
    row.append("<p> Journal Entry: " + dataBackFromDb.journal_entry + "</p>");
    row.append("<p> Links to Images: " + dataBackFromDb.links_images + "</p>");
    var deleteBtn = $("<button>");
    deleteBtn.text("x");
    deleteBtn.addClass("delete btn btn-danger");
    deleteBtn.attr("entryID", dataBackFromDb.id);
    // console.log('deleteBtn with ID', deleteBtn)
    var editBtn = $("<button>");
    editBtn.text("EDIT");
    editBtn.addClass("edit btn btn-default");
    editBtn.attr("entryID", dataBackFromDb.id);
    // console.log('Edit with ID', editBtn)
    row.append(deleteBtn);
    row.append(editBtn);
    // row.data("dataBackFromDb", dataBackFromDb);
    jornalContainer.append(row);

    return row;
  }


  //---------------------------------------------------------

  ///--------------????? what goes in the ()
  function handlePostDelete() {

    var currentId = $(this).attr("entryID");

    deletePost(currentId);
  }


  // This function does an API call to delete posts
  ///--------------????? what goes in the ()
  function deletePost(id) {
    // console.log(id)
    $.ajax({
        method: "DELETE",
        url: "api/private/" + id
      })
      .then(function() {
        getPosts() // show me posts after deleting

      });
  }

  //-----------------------------------------------------

  function handlePostEdit() {
    var currentId = $(this).attr("entryID")

    window.location.href = "/dashboard?post_id=" + currentId;
    updatePost(currentId, newPost);
  }



  function updatePost(id, newPost) {

    $.ajax({
        method: "PUT",
        url: "/api/private/",
        data: newPost
      })
      .then(function() {
        window.location.href = "/dashboard";
      });
  }


  function getPostData(id) {
    $.get("/api/private/" + id, function(data) {
      if (data) {
        console.log(data)

        titleInput.val(data.titleInput);
        entryInput.val(data.entryInput);
        linksInput.val(data.linksInput);

        updating = true;
        console.log("Updating - getPost Data", updating)

      }
    });
  }




</script>
</body>

</html>
