<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Private Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="assets/style.css"> -->
  <!-- Added link to the jQuery library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>


<div class= "row">
  <div class="col-12">
<div class="jumbotron jumbotron-fluid">
   <div class="Links">
  <ul class="nav justify-content-end">
  <li class="nav-item">
    <button id="pass" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Create A Post
    </button>
  </li>

</ul>
</div>

    <h1 class="display-4">Public....Public....Public</h1>

</div>
</div>
</div>

<div class="row">

<div class="col-3 box">
  <div id = "box1">
  <div class="card mb-3">
  <h3 class="card-header">Info Here</h3>

  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">


</div>

</div>
</div>



<div class="col-3 box">
  <div id = "box2">
  <div class="card mb-3">
  <h3 class="card-header">Info Here</h3>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
  </div>

  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</div>


<div class="col-3 box">
  <div id = "box3">
  <div class="card mb-3">
  <h3 class="card-header">Info Here</h3>

  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">


</div>

</div>
</div>


<div class="col-3 box">
  <div id = "box4">
  <div class="card mb-3">
  <h3 class="card-header">Info Here</h3>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
  </div>

  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</div>



<div class="row">

  <div class="col-3 box">
    <div id = "box5">
  <div class="card mb-3">
  <h3 class="card-header">Info Here</h3>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
  </div>

  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>
</div>
</div>


<div class="col-3 box">
  <div id = "box6">
  <div class="card mb-3">
  <h3 class="card-header">Info Here</h3>

  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">


</div>

</div>
</div>


<div class="col-3 box">
  <div id = "box7">
  <div class="card mb-3">
  <h3 class="card-header">Info Here</h3>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
  </div>

  <div class="card-body">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

</div>
</div>


<div class="col-3 box">
  <div id = "box8">
  <div class="card mb-3">
  <h3 class="card-header">Info Here</h3>

  <img style="height: 200px; width: 100%; display: block;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">


</div>

</div>
</div>
</div>
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-header">
   <h5 class="modal-title" id="exampleModalLabel">Already have an account? Login If not Register</h5>
   <span aria-hidden="true">&times;</span>
</div>
<form id="signin" name="signin" method="post" action="signin">
  <label for="email">Email Address</label>
  <input class="text" name="email" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <input class="btn" type="submit" value="Sign In" />
</form>
<form id="signup" name="signup" method="post" action="/signup">
  <label for="email">Email Address</label>
  <input class="text" name="email" type="email" />
  <label for="firstname">Firstname</label>
  <input name="firstname" type="text" />
  <label for="lastname">Lastname</label>
  <input name="lastname" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  <input class="btn" type="submit" value="Sign Up" />
</form>
</div>
  </div>
</div>
</div>
<div class="row">
  <h1>----------------------------------</h1>
  <br></br><br></br>
  </div>

<div class= "row">
  <div class="col-12">
    <div class="list">
    <ul>
    <li>Entries to your private content/Links</li>
    <li>Entries to your private content/Links</li>
    <li>Entries to your private content/Links</li>
    <li>Entries to your private content/Links</li>
    <li>Entries to your private content/Links</li>
</ul>
</div>
  </div>
</div>



 <script type="text/javascript">
    // This "document.ready" code isn't necessary in this example... but is useful to become familiar with.
    // "document.ready" makes sure that our JavaScript doesn't get run until the HTML document is finished loading.
    $(document).ready(function() {
      // Here we use jQuery to select the header with "click-me" as its ID.
      // Whenever it is clicked...
      $(".box").on("click", function() {
        // ... we trigger an alert.
        alert("This will take you to that person's Public content");
      });
       $(".list").on("click", function() {
        // ... we trigger an alert.
        alert("This will take you to your message");
      });
    });

      // $("#pass").on("click")
      //   if (req.user) {
//           $("#pass").click(function(e){
//              e.preventDefault();
//              window.location = "/dashboard"
//              if (req.user) {
//                        console.log(req)
//
//
// } else {
//   console.log(req)
//
//
//       }
//     });

//       $("a#thing_to_click").click(function(e){
//          e.preventDefault();
//          window.location = "http://www.google.com/";
// });



</script>


</body>
</html>
